<%- include('header') %>

<div class="container container-shrink">
<h4>hidden tasks</h4>
<% result.forEach((result)=>{%>
    <form action="/prov_ops-tracker-app/tasks/closed/unhide/<%= result.ID %>" method="post">
        <div class="card">
            <div class="card-header card-header-hidden" style="border-bottom: none;">
                <table>
                    <tr>
                        <td>
                            <button class="btn btn-danger unhide-bt">Unhide</button>
                        </td>                       
                        <td style="padding-left: 10px">
                            <a class="index-card-title" href="/prov_ops-tracker-app/task/<%= result.ID %>"><%= result.TITLE %></a>
                        </td>              
                    </tr>                
                </table>
            </div>
        </div>
    </form>
    <br>
<%})%>
<a href="/prov_ops-tracker-app/tasks/closed" class="btn btn-outline-dark btn-sm">Back</a>
</div>

<%- include('footer') %>