<%- include('header') %>

<div class="container container-shrink">
<h4 style="text-align: center;">hidden issues</h4>
<% result.forEach((result)=>{%>
    <form action="/prov_ops-tracker-app/issue/closed/unhide/<%= result.ID %>" method="post">
        <div class="card" style="margin-bottom: 4px;">
            <div class="card-header card-header-hidden" style="border-bottom: none;">
                <table>
                    <tr>
                        <td style="padding-right: 6px;">
                            <button class="btn btn-danger unhide-bt">Unhide</button>
                        </td> 
                        <td style="padding-right: 2px;">
                            <label>#<%= result.ID %></label>
                        </td>                      
                        <td style="padding-left: 10px">
                            <a class="index-card-title" href="/prov_ops-tracker-app/issue/<%= result.ID %>"><%= result.TITLE %></a>
                        </td>              
                    </tr>                
                </table>
            </div>
        </div>
    </form>
<%})%>
<a href="/prov_ops-tracker-app/issues/closed" class="btn btn-outline-dark btn-sm">Back</a>
</div>

<%- include('footer') %>