<%- include('header') %>

<h3 style="text-align: center;">homepage</h3>

<div class="container container-shrink-small">
    
    <form action="/prov_ops-tracker-app" method="post">
            <% if (errors._TITLE) { %>
                <label for="inputTitle" class="text-danger"><%= errors._TITLE.msg %></label>
            <% } %>
            <input autofocus type="text" class="form-control shadow-none mb-2 phText" id="inputTitle"
                placeholder="Enter the Title *" name="_TITLE">
    
            <textarea autofocus type="text" class="form-control shadow-none phText" id="inputDescr"
                placeholder="Enter the Description" name="_DESCRIPTION"></textarea>
    
            <table class="table table-no-border" style="margin-bottom: 0px;">
                <tr>
                    <td>
                        <% if (errors._ASSIGN_TO) { %>
                            <label for="inputUser" class="text-danger"><%= errors._ASSIGN_TO.msg %></label>
                        <% } %>
                        <input autofocus type="text" class="form-control shadow-none phText" id="inputUser"
                            placeholder="Enter the User *" name="_ASSIGN_TO" list="user">
                        <datalist id="user">
                            <% users.forEach((users)=>{%>
                                <option id=<%=users.NAME %>><%= users.NAME %>
                                </option>
                                <%})%>
                        </datalist>
                    </td>
                    <td>
                        <% if (errors._PRIORITY) { %>
                            <label for="inputPriority" class="text-danger"><%= errors._PRIORITY.msg %></label>
                        <% } %>
                        <select autofocus type="text" class="form-control shadow-none phText" id="inputPriority"
                            placeholder="Enter the ticket category *" name="_PRIORITY">
                            <option value="-" disabled selected>--Select Priority--</option>
                            <option value="1">Critical</option>
                            <option value="2">High</option>
                            <option value="3">Medium</option>
                            <option value="4">Low</option>
                        </select>
                    </td>
                    <td>
                        <% if (errors._PRIORITY || errors._ASSIGN_TO) { %>
                            <label for="inputTags" class="text-danger"></label>
                        <% } %>                               
                            <input autofocus type="text" class="form-control shadow-none phText" list="tags" id="inputTags" placeholder="Enter tags" multiple="multiple" name="_TAG"/>
                            <datalist id="tags">
                                <% tags.forEach((tags)=>{%>
                                    <option id=<%=tags.TAG_NM %>><%= tags.TAG_NM %>
                                    </option>
                                    <%})%>
                            </datalist>                
                    </td>
                </tr>
            </table>
            <button type="submit" class="btn btn-primary btn-sm">CREATE TASK</button>
    </form>
    
</div>

<div class="container container-shrink">
    <!-- <HR style="margin: 6px 0 0 0;">Task details</HR> -->
    <h4 style="margin: 6px 0 0 0; text-align: center;">open tasks</h4>
    <input autofocus type="text" class="form-control shadow-none phText searchbox-input" id="searchbox-input" placeholder="Search to filter..." name="_SEARCH"/>
    <% result.forEach((result)=>{%>
        <div class="card" style="margin-bottom: 2px;">
            <div class="card-header card-header-color">
                <table>
                    <tr>
                        <td style="padding-right: 2px;">
                            <label>#<%= result.ID %></label>
                        </td>
                        <td>
                            <label class="index-priority-label"><%= result.PRIORITY %></label>
                        </td>                       
                        <td style="padding-left: 10px">
                            <a class="index-card-title" href="/prov_ops-tracker-app/issue/<%= result.ID %>" target="_blank" rel="noreferrer noopener"><%= result.TITLE %></a>
                        </td>              
                    </tr>                
                </table>
            </div>
            <div class="card-body">
                <% if (result.DESCRIPTION) { %>
                    <p class="index-descr-label"><%= result.DESCRIPTION %></p>
                    <% } %>
              <label class="index-assigned-label">assigned to: <b><%= result.ASSIGNED_TO %></b></label>
              <label class="index-assigned-label"><b><%= result.STATUS %></b></label>
              <% if (result.TAGS) { %>
                <label class="index-tags-label">Tags: <%= result.TAGS %></label>
                <% } %>
              <label class="index-created-label card-text">created: <%= result.CREATED_ON %></label>
            </div>
          </div>
          
    <%})%>
</div>
    
 <script type="text/javascript">

    document.addEventListener("DOMContentLoaded", function () {
            const separator = ',';
            for (const input of document.getElementsByTagName("input")) {
                if (!input.multiple) {
                    continue;
                }
                if (input.list instanceof HTMLDataListElement) {
                    const optionsValues = Array.from(input.list.options).map(opt => opt.value);
                    let valueCount = input.value.split(separator).length;
                    input.addEventListener("input", () => {
                        const currentValueCount = input.value.split(separator).length;
                        if (valueCount !== currentValueCount) {
                            const lsIndex = input.value.lastIndexOf(separator);
                            const str = lsIndex !== -1 ? input.value.substr(0, lsIndex) + separator : "";
                            filldatalist(input, optionsValues, str);
                            valueCount = currentValueCount;
                        }
                    });
                }
            }
            function filldatalist(input, optionValues, optionPrefix) {
                const list = input.list;
                if (list && optionValues.length > 0) {
                    list.innerHTML = "";
                    const usedOptions = optionPrefix.split(separator).map(value => value.trim());
                    for (const optionsValue of optionValues) {
                        if (usedOptions.indexOf(optionsValue) < 0) {
                            const option = document.createElement("option");
                            option.value = optionPrefix + optionsValue;
                            list.append(option);
                        }
                    }
                }
            }
        });

    $(document).ready(function () {
            $('.searchbox-input').on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $(".card").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
 </script>   


<%- include('footer') %>