<%- include('header') %>

<div class="container container-shrink">
    <h4 style="text-align: center;">add L3 issue</h4>
    <br>
    <% if (actionmsg) { %>
        <label id="action-msg-label" class="msglabel" style="margin-bottom: 10px;">
            <%= actionmsg %>
            <button class="msg-label-btn" onclick="toggle(this)"><b>x</b></button>
        </label>
    <% } %>
    <form action="/prov_ops-tracker-app/L3_tracker/add" method="post">
        <% if (errors.L3_NAME) { %>
            <label for="inputL3" class="text-danger"><%= errors.L3_NAME.msg %></label>
        <% } %>
        <input autofocus type="text" class="form-control shadow-none mb-2 phText" id="inputL3" placeholder="Enter L3 Issue *" name="L3_NAME">

        <table class="table table-no-border" style="margin-bottom: 0px;">
            <tr>
                <td>
                    <% if (errors.RAISED_BY) { %>
                        <label for="inputRaisedBy" class="text-danger"><%= errors.RAISED_BY.msg %></label>
                    <% } %>
                    <input autofocus type="text" class="form-control shadow-none phText" id="inputRaisedBy" placeholder="L3 Raised By *" name="RAISED_BY" list="user" style="margin-right: 90px;">
                    <datalist id="user">
                        <% users.forEach((users)=>{%>
                            <option id=<%=users.NAME %>><%= users.NAME %>
                            </option>
                            <%})%>
                    </datalist>
                </td>
                <td>
                    <% if (errors.PRIORITY) { %>
                        <label for="inputPriority" class="text-danger"><%= errors.PRIORITY.msg %></label>
                    <% } %>
                    <select autofocus type="text" class="form-control shadow-none phText" id="inputPriority" name="PRIORITY" style="margin-right: 70px;">
                        <option value="-" disabled selected>--Select Priority--</option>
                        <option value="1">Critical</option>
                        <option value="2">High</option>
                        <option value="3">Medium</option>
                        <option value="4">Low</option>
                    </select>
                </td>
                <td>
                    <% if (errors.OPEN_DATE) { %>
                        <label for="inputOpen" class="text-danger"><%= errors.OPEN_DATE.msg %></label>
                    <% } %>
                    <input autofocus type="text" class="form-control shadow-none mb-2 phText" id="inputOpen" placeholder="L3 Raised on (DD-MON-YYYY)*" name="OPEN_DATE" style="margin-right: 140px;">
                </td>
                <td>
                    <input autofocus type="text" class="form-control shadow-none mb-2 phText" id="inputITSM" placeholder="ITSM NO" name="ITSM_NO">
                </td>
                <td>
                    <input autofocus type="text" class="form-control shadow-none mb-2 phText" id="inputJira" placeholder="JIRA ID" name="JIRA_ID">
                </td>
            </tr>
        </table>  
        <input autofocus type="text" class="form-control shadow-none mb-2 phText" id="inputMail" placeholder="Enter Mail subject if any" name="MAIL">  
        <textarea autofocus type="text" class="form-control shadow-none phText" id="inputComments" placeholder="Enter comments if any" name="COMMENTS" style="height: 140px;"></textarea>
        <table class="table table-no-border" style="margin-bottom: 0px;">
            <tr>
                <td>
                    <input autofocus type="text" class="form-control shadow-none mb-2 phText" id="inputOwner" placeholder="Ownership" name="OWNER">
                </td>
                <td>
                    <% if (errors.STATUS) { %>
                        <label for="inputStatus" class="text-danger"><%= errors.STATUS.msg %></label>
                    <% } %>
                    <input autofocus type="text" class="form-control shadow-none mb-2 phText" id="inputStatus" placeholder="Status *" name="STATUS">
                </td>
                <td>
                    <input autofocus type="text" class="form-control shadow-none mb-2 phText" id="inputClosed" placeholder="Closed on (DD-MON-YYYY)" name="CLOSED_ON">
                </td>
            </tr>
            
        </table>
        <input autofocus type="text" class="form-control shadow-none mb-2 phText" id="inputRemarks" placeholder="Enter remark if any" name="REMARK" style="width: 450px;">
        <br>
        <button type="submit" class="btn btn-primary btn-sm">ADD L3 ISSUE</button>
    </form>
</div>

<script>
    let toggle = () => {
        let label = document.getElementById("action-msg-label");
        label.setAttribute("hidden", "hidden");
    }
</script>

<%- include('footer') %>